.pheader{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: darkgreen;
    background: #C6D870;
  padding-bottom: 20px;
}
.phead{
    display: flex; 
    justify-content:space-around;
    margin-bottom: 20px;
    color: darkgreen;
    font-weight: bold;
    font-size: 23px;
    background: #C6D870;
}
#grocery{
    background-color: rgb(255, 204, 0);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    width: 100%;
    height: 80vh;
    /* position: absolute; */
    overflow: hidden;
  transition: all 0.2s;
    border: 2px solid;
}
#electronics{
  background-color: mediumseagreen;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 100%;
  height: 0px;
  /* position: absolute; */
    overflow: hidden;
  transition: all 0.2s;

}
#clothing{
  background-color: peachpuff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 100%;
  height: 0px; 
  /* position: absolute; */
    overflow: hidden;
  transition: all 0.2s;
}
.category{
  position: absolute;
  overflow: hidden;
}
.catimg{
  height: 200px;
  width: 200px;
}